In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
Costco = pd.read_csv('/content/0.zdgkinsx62h0.lyo4ulpsaectiendaCostco.csv',encoding='UTF-8-sig',sep=',')
Costco.head()

,id,nombre,direccion,ubicacion,latitud,longitud,tel centro llantero
0,1,"""Puebla""",Blvd. del Niño Poblano 2904,Puebla,19.033499,-98.237794,222 2273 318
1,2,"""Villa Coapa""",Puente 186,Coapa,19.284359,-99.138655,NaN
2,3,"""Cuernavaca""",Av. Vicente Guerrero 205,Cuernavaca,18.934481,-99.233430,777 7101 523
3,4,"""Lindavista""",Av. Insurgentes Norte 1320,Gustavo A. Madero,19.481697,-99.130063,55 5747 5691
4,5,"""Mixcoac""",Blvd. Adolfo López Mateos 1181,Alvaro Obregón,19.387237,-99.190718,NaN

In [ ]:
Costco.columns = Costco.columns.str.strip()
Costco['fecha actual'] = pd.Timestamp.now()

In [ ]:
## conocer valores NaN o None en el dataframe
CostcoNulls = Costco.isnull()
CostcoNulls.head()

,id,nombre,direccion,ubicacion,latitud,longitud,tel centro llantero,fecha actual
0,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,True,False
2,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,True,False

In [ ]:
print(Costco.columns.tolist())

['id', 'nombre', 'direccion', 'ubicacion', 'latitud', 'longitud', 'tel centro llantero']

In [ ]:
## por columna

Costco['nombre'].isnull().head()

0    False
1    False
2    False
3    False
4    False
Name: nombre, dtype: bool

In [ ]:
## notnull()

Costco['nombre'].notnull().head()

0    True
1    True
2    True
3    True
4    True
Name: nombre, dtype: bool

In [ ]:
## dropna()

Costco['nombre'] = Costco['nombre'].dropna()
Costco['nombre'].head()

0         "Puebla"
1    "Villa Coapa"
2     "Cuernavaca"
3     "Lindavista"
4        "Mixcoac"
Name: nombre, dtype: object

In [ ]:
## .fillna()

Costco['nombre'].fillna('sin nombre').head()

0         "Puebla"
1    "Villa Coapa"
2     "Cuernavaca"
3     "Lindavista"
4        "Mixcoac"
Name: nombre, dtype: object

In [ ]:
## replace(np.nan)

Costco['nombre'].replace(np.nan,'sin nombre').head()

0         "Puebla"
1    "Villa Coapa"
2     "Cuernavaca"
3     "Lindavista"
4        "Mixcoac"
Name: nombre, dtype: object

In [ ]:
## interplolate

Costco['nombre'] = Costco['nombre'].interpolate(method='linear',direction='forward')
Costco['nombre'].head()

<ipython-input-64-e2c4ac7b4fe6>:3: FutureWarning: Series.interpolate with object dtype is deprecated and will raise in a future version. Call obj.infer_objects(copy=False) before interpolating instead.
  Costco['nombre'] = Costco['nombre'].interpolate(method='linear',direction='forward')

0         "Puebla"
1    "Villa Coapa"
2     "Cuernavaca"
3     "Lindavista"
4        "Mixcoac"
Name: nombre, dtype: object

In [ ]:
Costco.head()

,id,nombre,direccion,ubicacion,latitud,longitud,tel centro llantero,fecha actual
0,1,"""Puebla""",Blvd. del Niño Poblano 2904,Puebla,19.033499,-98.237794,222 2273 318,2025-04-23 15:39:12.112641
1,2,"""Villa Coapa""",Puente 186,Coapa,19.284359,-99.138655,NaN,2025-04-23 15:39:12.112641
2,3,"""Cuernavaca""",Av. Vicente Guerrero 205,Cuernavaca,18.934481,-99.233430,777 7101 523,2025-04-23 15:39:12.112641
3,4,"""Lindavista""",Av. Insurgentes Norte 1320,Gustavo A. Madero,19.481697,-99.130063,55 5747 5691,2025-04-23 15:39:12.112641
4,5,"""Mixcoac""",Blvd. Adolfo López Mateos 1181,Alvaro Obregón,19.387237,-99.190718,NaN,2025-04-23 15:39:12.112641

In [ ]:
Costco['fecha actual'] = pd.to_datetime(Costco['fecha actual'])
Costco['fecha actual'].head()

0   2025-04-23 15:39:12.112641
1   2025-04-23 15:39:12.112641
2   2025-04-23 15:39:12.112641
3   2025-04-23 15:39:12.112641
4   2025-04-23 15:39:12.112641
Name: fecha actual, dtype: datetime64[us]

In [ ]:
Costco['nombre'].drop_duplicates().head()

0         "Puebla"
1    "Villa Coapa"
2     "Cuernavaca"
3     "Lindavista"
4        "Mixcoac"
Name: nombre, dtype: object

In [ ]:
## para cambiar el string

str.lower()
str.upper()
str.capitalize()
str.title()